.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #000;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em dotted #ff0000;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
.logowrapper{
    background: url(1.png);
    float: left;
    width: calc(900px / 8);
    height: 108px;
    animation: img-animation 1s steps(8) infinite;
    animation-delay: 2s;
    margin-top: 98px;
    position: relative;
}
@keyframes img-animation{
    from{
        background-position: 0;
    }
    to{
        background-position: 900px;
    }
}
.switch{
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch-checkbox{
    display: none;
}
.switch-label{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999;
    border-radius: 20px;
}
.switch-one{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.switch-one:before, .switch-one:after{
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.switch-one:before{
    content: 'ON';
    padding-left: 10px;
    background-color: #fff;
    color: #000;
}
.switch-one:after{
    content: 'OFF';
    padding-right: 10px;
    background-color: #fff;
    color: #000;
    text-align: right;
}
.switch-two{
    display: block;
    width: 18px;
    height: 18px;
    background: #000;
    border: 2px solid #999;
    border-radius: 20px;
    position: absolute;
    margin-right: 8px;
    bottom: 8px;
    right: 56px;
    transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-one{
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-two{
    right: 0;
    background-color: #fff;
}
.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
    width: 100%;
    height: 100%;
}
.wrapper.dark-mode{
    color: #fff;
    background-color: #000;
}
.light-mode{
    color: #000;
    background: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: poppins;
    scroll-behavior: smooth;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 160%;
    font-weight: 400;
    font-size: 16px;
}
h1, h2{
    text-transform: capitalize;
    margin-bottom: 25px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}
h3{
    margin-bottom: 13px;
    font-weight: 900;
    font-size: 23px;
    color: deepskyblue;
}
input:focus{
    outline: none;
}
.img-fluid{
    width: 100%;
}
.custom-padding{
    padding: 100px 0;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.d-grid{
    display: grid;
    grid-gap: 20px;
}
.d-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}
header{
    height: 82px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
    transition: all .4s ease-in-out;
}
header.fixed{
    height: 68px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}
header.fixed nav{
    height: 68px;
    padding: 15px 0;
}
.logo{
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}
nav{
    padding: 20px 0;
    height: 82px;
    width: 100%;
    transition: all .4s ease-in-out;
}
.navigation-bar ul li{
    display: inline-block;
    position: relative;
    margin: 0 25px;
}
.navigation-bar ul li:last-child{
    margin-right: 0;
}
.navigation-bar ul li a{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all .4s ease-in-out;
}
.navigation-bar ul li a:hover,
.navigation-bar ul li.active a{
    color: deepskyblue;
}
.burger{
    width: 25px;
    cursor: pointer;
    display: none;
}
.burger span{
    display: block;
    background-color: #262626;
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 10px;
    transition: margin-bottom 0.4s ease-in-out;
}
.burger span:last-child{
    margin-bottom: 0;
}
.burger:hover span{
    margin-bottom: 5px;
}
@media (min-width: 991px){
    .navigation-bar{
        display: block !important;
    }
}
@media (max-width: 990px){
    .burger{
        display: block;
        position: absolute;
        right: 20px;
    }
    .navigation-bar{
        display: none;
        text-align: center;
        position: absolute;
        left: 0;
        top: 68px;
        width: 100%;
        padding: 20px 0;
        z-index: 2;
    }
    .navigation-bar ul li{
        display: block;
        margin: 15px 0;
    }
    .navigation-bar ul li a{
        color: deepskyblue;
    }
}
.home-wrapper{
    padding-top: 82px;
    height: 100%;
    min-height: 100vh;
    align-items: center;
}
.home-wrapper .col-left p{
    width: 400px;
}
.contact-icon{
    justify-content: flex-start;
    margin-top: 50px;
}
.contact-icon a{
    width: auto;
    padding: 10px 25px;
    background: #262626;
    transition: all .4s ease-in-out;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 50px;
}
.contact-icon a:hover{
    background-color: deepskyblue;
}
@media (min-width: 768px){
    .home-wrapper,
    .content-inside{
        grid-template-columns: repeat(2, 1fr);
    }
}
.section-title{
    width: 100%;
    text-align: center;
}
.section-title p{
    width: 45%;
    margin: 0 auto;
}
.port-items{
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    margin-top: 80px;
}
.port-items .item{
    transition: transform 0.4s ease-in-out;
}
.port-items .item:hover{
    transform: scale(1.03);
}
.port-content{
    padding: 25px 35px;
}
.port-content p{
    padding: 15px 0 25px;
}
.port-content h4{
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
}
.info{
    display: inline-block;
    color: #fff;
    background-color: #262626;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 20px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}
.info:hover{
    background-color: deepskyblue;
    color: #fff;
}
.sub-col p{
    margin-bottom: 30px;
    width: 80%;
}
.service-items{
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    margin-top: 80px;
    text-align: center;
}
.service-items item{
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    transition: transform .4s ease-in-out;
}
.service-items .item:hover{
    transform: scale(1.03);
}
.service-content{
    padding: 25px 30px;
}
.service-content p{
    margin: 16px 0 25px;
}
.service-content h4{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}
.service-icon{
    width: 80px;
    height: 80px;
    background: #262626;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
}
.service-icon i{
    font-size: 35px;
    color: deepskyblue;
    padding: 22px;
}
.service-items .item:hover{
    background: #262626;
    transition: 0.5s ease-in-out;
}
.service-items .item:hover h4{
    background: #262626;
    transition: 0.5s ease-in-out;
}
.service-items .item:hover p{
    background: #262626;
    transition: 0.5s ease-in-out;
}
.service-items .item:hover .service-icon{
    background: #262626;
    transition: 0.5s ease-in-out;
}
.contact input{
    border-radius: 5px;
    border: 2px solid #ddd;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.contact textarea{
    border: 2px solid #ddd;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
.contact .submit-btn{
    display: inline-block;
    background: #262626;
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 20px;
}
.contact h3{
    margin-bottom: 50px;
    text-transform: uppercase;
}
.contact p i{
    margin-right: 20px;
    font-size: 22px;
}
#contact .section-title{
    margin-bottom: 80px;
}
footer{
    background: #262626;
    padding: 30px 0;
    text-align: center;
}
footer p{
    color: #fff;
}
/*responsive css*/
.container{
    padding: 0 20px;
}
h1,h2{
    font-size: 45px;
}
.custom-padding{
    padding: 50px 0;
}
.home{
    padding: 50px 0;
}
.home-wrapper .col-left p{
    width: 100%;
}
.col-right{
    order: -1;
}
.col-left,
.sub-col{
    text-align: center;
}
.section-title p{
    width: 100%;
}
.sub-col p{
    margin-bottom: 25px;
    width: 100%;
}
.services .sub-col{
    padding-left: 0;
}
.r-col{
    order: -1;
}
/*for scrollbar*/
::-webkit-scrollbar{
    background: #ddd;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: 0 0 10px #00000070;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#EE1C1C,#1433F1);
    border-radius: 10px;
}
