body{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.switch{
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch-checkbox{
    display: none;
}
.switch-label{
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999;
    border-radius: 20px;
}
.switch-one{
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.switch-one:before, .switch-one:after{
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}
.switch-one:before{
    content: 'ON';
    padding-left: 10px;
    background-color: #fff;
    color: #000;
}
.switch-one:after{
    content: 'OFF';
    padding-right: 10px;
    background-color: #fff;
    color: #000;
    text-align: right;
}
.switch-two{
    display: block;
    width: 18px;
    margin: 6px;
    background: #000;
    border: 2px solid #999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    transition: all 0.3s ease-in 0s;
}
.switch-checkbox:checked + .switch-label .switch-one{
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-two{
    right: 0;
    background-color: #fff;
}
.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
    width: 100%;
    height: 100%;
}
.wrapper.dark-mode{
    color: #fff;
    background-color: #000;
}