.logowrapper{
    background: url(1.png);
    float: left;
    width: calc(900px / 8);
    height: 108px;
    animation: img-animation 1s steps(8) infinite;
    animation-delay: 2s;
    margin-top: 50px;
    position: relative;
}
@keyframes img-animation{
    from{
        background-position: 0;
    }
    to{
        background-position: 900px;
    }
}